body{
  margin:0;
  padding:0;
  font-family:"montserrat" !important;
  background: linear-gradient(180deg, #305C8D 0%, #14263A 10.42%, #13202F 35.63%, #161A23 100%);
  background-size:100% 100%;
  position: absolute;
  width:100%;
}
main{
  padding:0px;
  margin:0px;
  width:100%;
}

.tempsolution .container{
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  padding: 0;
  max-width: 100%;
}

.showVid{
  visibility: visible;
}

.hideVid{
  visibility: hidden;
}



#nav {
    min-height: 6em;
    height:6em;
    width: 100%;
}

.emptySpace{
  visibility:hidden;
}

html:not([data-scroll='0']) body {
    padding-top:3%;
}


@media only screen and (min-width: 1000px) {
  html:not([data-scroll='0']) #nav {
      position: fixed;
      top: 0;
      z-index: 1;
      background:#305C8D;
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
      height:10%;
      overflow:visible;
  }
}


.dropdowna {
  float: left;
  overflow: hidden;
}

.dropdowna .dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-contenta {
  margin-top:1%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius:20px;
  margin-right:7%;
}

.dropdown-contenta a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contenta a:hover {
  background-color: #ddd;
  border-radius:20px;
}

.dropbtn:hover,.dropdowna:hover .dropbtn{
  color:black!important;
}

.show {
  display: block;
}


.divNav{
  padding-top:13%;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left:10%;
  padding-right:10%;
  padding-top:20px;
  overflow: hidden;
  width:100%;
}

.videoDiv{
  width: 100%;
  height: 400px;
}

#logoNav{
  float: left;
  padding-top:0px;
  width:20%;
}

.liNav {
  float: right;
}

.aNav {
  font-size:18px;
  display: block;
  color: white;
  text-align: center;
  padding: 0px 30px;
  padding-top:27px;
  padding-bottom:35px;
  text-decoration: none;
}

.imgANav {
  font-size:18px;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 0px;
  text-decoration: none;
  padding-left:0px;

}

.pricing .card{
  background-color:transparent!important;
}

.prof .card-body{
  background-color:#161A23!important;
}

#card-text{
  font-family:"montserrat" !important;
}

.pricing .card-body{
  text-align:left;
  padding:0px;
  padding-bottom:7%;
  padding-left:7%;
  padding-right:7%;
  background-color:#FFFFFF;
  border-radius:18px;
  min-height: 660px;
}

@media only screen and (max-width: 1200px){
  .pricing .card-body{
  min-height: 630px;
  }

}

@media only screen and (max-width: 1500px) and (min-width:800px) {
  .tempsolution .col-lg-3{
    width: 50%;
  }
  .card-body{
    margin-top: 10%;
  }
}
@media only screen and (max-width:1000px) {
  .row{
    margin-right: 0;
  }
}


.pricing .prof .card-body{
  text-align:left;
  padding:0px;
  padding-bottom:7%;
  padding-left:7%;
  margin-left:0%!important;
  padding-right:7%;
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  width:100%;
}

.prof hr {
  color:white;
}

.card-head{
  display:block;
  width:100%;
  height:50%;
}

.card-head img{
  position:relative;
  left:8.4%;
  display:block;
  width:35%;
  margin:0px;
  padding:0px;
  float:right;
}

.card-head .leftimg{
  position:static !important;
  left:0% !important;
  margin-top:13%;
  margin-right:13%;
  width:50%;
  padding-bottom:15%;
}

.card-head img::after{
  clear:both;
}

.pricing li{
  color:#303B52;
  font-size:13px;
  list-style-type: none;
}

.pricing ul{
  margin-left:0px;
}

.pricing ul, .pricing li {
    margin: 0; padding: 0;
}

.circle{
  padding:0px 3px 0px 3px;
  width:3%;
  border-radius:100%;
  border-width:1.7px;
  border-style:solid;
  border-color:black;
  margin-right:3%;
}

.pricing .card-title {
  font-size: 0.7rem;
  letter-spacing: .0rem;
  font-weight: bold;
  margin-bottom:15%;
  height: 50px;
}

.prof .card-title{
  color:#BDBDBD !important;
}

.pricing .card-price {
  color:#303B52;
  font-weight: bold;
  font-size: 2.88rem;
  margin: 0;
}

.pricing .card-price .period {
  color:#A3A6AA;
  font-size: 2.5rem;
}
.prof .card-text, .prof .card-price, .prof li{
  color:white!important;
}

.prof .card-price .period {
  color:#BDBDBD !important;
}

.pricing ul li {
  margin-left:0px;
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

.btn-enter{
  opacity: 1 !important;
  background-color:white!important;
  color:black!important;
  border:#161A23!important;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
  .pricing .card:hover .btn-enter {
    opacity: 0.7 !important;
  }
}

.dropdown-contenta{
  right:0.01%;
}


.aNav:hover{
  margin-top:18px;
  color:#14263A;
  background:white;
  padding: 5px 30px;
  border-radius:50px;
}

.dropdowna button:hover{
  color:#14263A!important;
}

.dropdowna-hover{
  margin-top:18px!important;
  color:#14263A!important;
  background:white!important;
  padding: 5px 20px!important;
  border-radius:50px!important;
}

.dropdowna-hover button{
  color:#14263A!important;
}

.buttonNav{
  margin-top:17px;
  font-size:20px;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 40px;
  text-decoration: none;
  border:1px white solid;
  border-radius:50px;
}
.scroll-indicator {	
	position:absolute;
	left: 50%;
	font-size: 50px;
	
	-webkit-animation: bounce 1s infinite; 
	animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	 0% { top: 8%; }
	 30%   { top: 8.1%; }
	 60%   { top: 8.1%; }
	 100% { top: 8%; }
}

@keyframes bounce {
  0% { top: 8%; }
  30%   { top: 8.1%; }
  60%   { top: 8.1%; }
  100% { top: 8%; }
}

.buttonNav:hover{
  border:1px #14263A solid;
  color:#14263A;
  background:white;
}

#header{
  background-image:url(../Images/Graphics/Map.svg);
  background-size:100% 100%;
  margin-top:50px;
  text-align:center;
  padding-left:10%;
  padding-right:10%;
  /*width:100%;*/
  padding-bottom: 15%;
}

#containerDiv1{
  padding:0px;
  margin:0px;
  text-align:left;
  color:white;
  display:block;
}

#containerDiv1 span{
  position:absolute;
  font-size:10px;
  top:230px;
  margin-left:5px;
}

#containerDiv1 h1{
  display:block;
  padding:0;
  margin:0;
  font-size:63px;
  font-weight:bold !important;
}

#containerDiv1 p{
  padding:0;
  margin:0;
  display:block;
  margin-left:5px;
  font-size:15px;
  margin-bottom:20px;
}

#headerBut1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
background: #FFFFFF;
border-radius: 70px;
display:inline-block;
align-items: center;
text-align: center;
color: #161A23;
width:200px;
padding-top:10px;
/*height:50px;*/
padding-bottom:10px;
margin-bottom:9%;
}

.Abutton{
  text-decoration:none;
}

#headerBut1:hover{
  background-color: #161A23;
  color: #FFFFFF;
}

#headerBut2{
border: 2px solid #FFFFFF;
border-radius: 70px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
background: transparent;
border-radius: 70px;
display:inline-block;
align-items: center;
text-align: center;
color: #FFFFFF;
width:200px;
padding-top:8px;
height:50px;
padding-bottom:10px;
}

#headerBut2:hover{
  background-color: #FFFFFF;
  color: #161A23;
}

#advantages{
  margin-top:1%;
  text-align:center;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:5%;
}

#stats{
  margin-top:10%;
  text-align:center;
  margin-left:5%;
  margin-right:5%;
}


.textDiv{
  color:white;
  padding:0;
  margin-bottom:40px;
}

.textDiv p{
  margin-left:16% !important;
  margin-right:16% !important;
  margin:0;
  font-size:15px;
  color:lightgrey;
}

.textDiv h1{
  margin-left:15%;
  margin-right:15%;
  font-size:50px;
  font-weight:bold;
}

.Homepage_section11___CFge{
  margin-bottom:0px !important;
}

.boxes{
  background-color: #142130 !important;
  border:#142130 !important;
  padding: 35px 20px !important;

}

.boxes h5{
  color:white !important;
}

.boxes h6{
  color:lightgrey !important;
}

.advImg{
  background-color:#142130 !important;
  box-shadow:11.2442px 11.2442px 18.7404px 1.49923px rgba(0,0,0,.2) !important;
}


#squigly{
  position:static;
  width:67.4670571%;
  height:84.2861331%;
}

#partners{
  background: #162637;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100%;
  height:15vh;
  text-align: center;
  margin-bottom:5%;
}

#partners h6{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  display: block;
  padding-top:25px;
  text-transform: uppercase;
  color: #0095FF;
}

#fade{
  margin: 0;
  padding: 0;
  width:100%;
  height:15vh;
}


#fade .rows{
  float:left;
  margin-left:5%;
  margin-bottom:0px;
  margin-top:0px;
  margin-right:0px;
}
/*50px space between logos*/

#plans{
  text-align:center;
  /*align-items: center;*/
}

#plansButton1{
display:block;
position: absolute;
width: 275.096666667px;
height: 57.1133333333px;
left:180px;
top:80%;

background: #0095FF;
border-radius: 100px;
}
#plansButton1 a{
  font-weight:bold;
  color:white;
  text-decoration:none;
  padding-top:15px;
  display:block;
}

#plansButton2{
display:block;
position: absolute;
width: 275.096666667px;
height: 57.1133333333px;
left:545px;
top:80%;

background: #0095FF;
border-radius: 100px;
}
#plansButton2 a{
  color:white;
  font-weight:bold;
  text-decoration:none;
  padding-top:15px;
  display:block;
}

#plansButton3{
display:block;
position: relative;
width: 275.096666667px;
height: 57.1133333333px;
left:900px;
top:80%;

background: #FFFFFF;
border-radius: 100px;
}
#plansButton3 a{
  font-weight:bold;
  color:#161A23;;
  text-decoration:none;
  padding-top:15px;
  display:block;
}

#Plans1{
  text-align:center;
  margin:0px;
  padding:0px;
  display:block;
}

.plansPlacement1{
  margin-left:0%;
}
.plansPlacement2{
  margin-left:35%;
}
.plansPlacement3{
  margin-left:75%;
}

#daplans{
  width: 79.0629575%;
  height: 79.0798611%;
}

.lightblue{
  width:100%;
  height:80%;
  background-color:#162A41;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.darkblue{
  width:100%;
  height:70%;
  background-color:#14263A;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
}



.darkblue .textDiv{
  padding-top:3%;
  text-align:center !important;
}
.lightblue .textDiv{
  padding-top:3%;
  text-align:center !important;
}

.darkerblue{
  width:100%;
  background-color:#1B202D;
  border-top-left-radius: 150px;
}

.darkerblue .textDiv{
  text-align:left;
}


.darkblue .rows{
  margin-left:19%!important;
  width:70%;
}

.rows img{
  border:black solid 0px;
  border-radius:20%, 20%, 20%, 20%;
  text-align:center;
}

.column3 {
  float: left;
  width: 33%;
  padding: 10px;
}
.column3-large {
  float: left;
  width: 50%;
  padding: 15px;

}

.column3-small {
  float: left;
  width: 25.33%;
  padding: 15px;

}

.column6{
  float: left;
  width: 16%;
}

.column6 img{
  width:70%;
  margin:0%;
  padding:0%;
  border:none!important;
  border-radius:0px;
}

.rows .center{
  margin-top:1%;
}


.column2{
  float: left;
  width: 45%;
  margin-right:2.5%;
  padding: 10px;
}

.column1{
  float: left;
  width: 100%;
  padding: 10px;
}




.rows::after {
  content: "";
  clear: both;
  display: table;
}

.blueButton{
  margin-top:2%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  border-radius: 70px;
  display:inline-block;
  align-items: center;
  text-align: center;
  color: white;
  width:200px;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:9%;
  text-decoration:none;
  background-color: #0095FF;
}

.blueButton:hover{
 color: #0095FF;
 background-color:white;
}

.textDiv img{
  border-radius:50%;
  overflow:hidden;
  /*border:2px solid #1B202D;*/
  width:58.6666666667px;
  height:58.6666666667px;
  box-shadow:11.2442px 10.2442px 18.7404px 1.29923px rgba(0,0,0,.6) !important;
}

.darkerblue .textDiv h1{
  margin:0px;
  margin-left:5%;
}

#arrowright{
  margin-left:5%;
  margin-right:2%;
}

.darkerblue .rows{
  width:80%;
  margin-left:5%;
}

.darkerblue{
  padding-bottom:3%;
}

.FAQS .textDiv{
  margin-top:5%;
  text-align:center;
}

.FAQS .dropdown{
  margin-top:5%;
  text-align:left;
}

.dropdown {
  display: block;
  position: relative;
  border-bottom:white solid 2px;
}

.dropdown button{
  background-color:transparent;
  border:hidden;
  color:white;
  font-weight:bold;
  font-size:30px;
  width:90%;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
}

.currency{
  color:#303B52!important;
  font-size:2rem!important;
}

.dropdown-content-dropped {
  display: block;
  border-bottom:#0095FF solid 2px;
}
.dropdown-dropped{
  border-bottom:white solid 0px;
  margin-bottom:10%;
}

.dropdown-raised{
  display: block;
  position: relative;
  border-bottom:white solid 2px;
}

.dropdown-content-raised {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
}

.FAQS{
  margin-bottom:5%;
}

.dropdown-content a {
  display: block;
  color: #BDBDBD!important;
  padding: 5px;
  text-decoration: none;
  background-color:transparent;
}
.dropdown-content a:hover {
  background-color: transparent;
}

.FAQS .rows{
  width:70%;
  margin-left:15%;
}

.FAQS .arrow{
  width:5%;
  display:inline-block;
  float:right !important;
}

.FAQS .rows .dropdown{
  padding-bottom:2%;
}

.dropdown button{
  text-align:left;
}

#arrowright:hover{
  cursor: pointer;
}
#arrowleft:hover{
  cursor: pointer;
}


.footer{
  background-color:rgba(43,97,209,.1);
  padding:50px 5px;
  color:#B1B7C7!important;
}

.footer_footer__l5XV_ a, .footer_footer__l5XV_ h6 , .footer_footer__l5XV_  h5, .footer_footer__l5XV_  h3{
  color:#B1B7C7!important;
  text-align:center;
  width:100%;
}

#center{
  width:100%!important;
}

.row{
  text-align:left !important;
}

.overlay{
   background: rgba(54,56,71, 0.5);
    overflow: visible;
    padding:2px;
    height: 100%;
    z-index: 2;

}

.icons2 a{
    color:transparent!important;
}

.reviews-container{
  height:25%;
  margin-left:15%;
}
.reviews-container .textDiv{
  margin-left:5%;
}

.reviewContainer{
  height:45vh;
  margin-top:2.4%;
  background-color:#191D28;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  text-align:left;
  border-radius:20px;
}


.reviewContainer img{
  margin-left:3%;
  margin-top:3%;
  width:16%;
}

.reviewContainer .border{
  border:white 2px solid;
  border-radius:50px;
}

.reviewContainer h3{
  margin-top:6%;
  margin-left:2.5%;
  font-weight:bold;
  color:white;
  width:78.5%;
  font-size:200%;
}

.reviewContainer h4{
  margin-left:21.5%;
  margin-top:12%;
  color:white;
  font-size:150%;
}

.reviewContainer i{
  font-size:100%;
  color:#BDBDBD;
}

.reviewContainer img, .reviewContainer h3{
  float:left;
}

.navDrop{
  visibility:hidden;
}
/*navDrop*/

@media (max-width:1300px){
  .navDrop{
    visibility:visible!important;
    display:block!important;
  }
  #logoNav{
    visibility:visible;
  }
  .liNav{
    visibility:hidden;
    display:absolute;
  }
  #wordVideo{
    width:80%;
  }
}


@media only screen and (max-width: 1000px) {
    .bigText {
      font-size: 40px!important;
    }
    .scroll-indicator{
      visibility: hidden;
    }
    
    .mediumText{
      font-size: 37px!important;
      /*width:100%;*/
      text-align:center;
    }
    .imgANav{
      width:20%!important;
    }
    .reviews-container{
      margin-left:0%;
      height:100%;
    }
    .reviews-container .textDiv h1{
      font-size: 30px!important;
    }
    
    .reviewContainer{
      height:auto;
      margin-bottom:10%;
      margin-top:2.4%;
      background-color:#191D28;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
      text-align:left;
      border-radius:20px;
    }
    
    
    .reviewContainer img{
      margin-left:3%;
      margin-top:3%;
      width:20%;
    }
    
    .arrowright{
      margin-left: 0!important;
    }
    
    .reviewContainer .border{
      border:white 2px solid;
      border-radius:50px;
    }
    
    .reviewContainer h3{
      margin-top:6%;
      margin-left:2.5%;
      font-weight:bold;
      color:white;
      width:100%!important;
      font-size:150%;
    }
    
    .reviewContainer h4{
      margin-left:21.5%;
      margin-top:12%;
      color:white;
      font-size:100%;
    }
    
    .reviewContainer i{
      font-size:100%;
      color:#BDBDBD;
    }
    
    .reviews .rows .column2{
      width:100%;
    }

.dropdown button{
  font-size:20px;
}

.dropdown-dropped{
  margin-bottom:100%;
}

.FAQS .arrow{
  width:20%;
  display:inline-block;
  float:right !important;
}
}


.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 30px;
grid-row-gap: 30px;
width: 80%;
margin-left:10%;
}

.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 4; }
.div5 { grid-area: 3 / 1 / 4 / 3; }
.div6 { grid-area: 3 / 3 / 4 / 4; }



















